# 연습문제

---

### Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.

In [4]:
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)      # join 함수는 리스트 요소를 합쳐서 하나의 문자열로 바꾸어 반환하는 함수이다. 
# ' ' 부분은 구분자로 구분해서 문자열을 합치는 부분 / 현재는 공백을 구분자로 사용 

print(result)

Life is too short

### Q8. (1, 2, 3) 튜플에 값 4를 추가하여 (1, 2, 3, 4)를 만들어 출력해보자.

In [6]:
a = (1, 2, 3)
a = a + (4, )

print(a)

(1, 2, 3, 4)

### Q9. 딕셔너리 a를 보고 오류가 발생하는 경우를 찾고 이유를 설명하라.

In [7]:
a = dict()
a

{}

#### ① a['name'] = 'python'
#### ② a[('a',)] = 'python'
#### ③ a[[1]] = 'python'    
#### ④ a[250] = 'python'

#### 딕셔너리의 Key 값으로 튜플 값은 사용할 수 있지만, 리스트 값은 사용할 수 없다. 딕셔너리 변하지 않는 값만을 받아들이기 때문이다. 정답은 3번이다.

In [8]:
a['name'] = 'python'
print(a)

a[('a',)] = 'python'
print(a)

a[[1]] = 'python'
print(a)

a[250] = 'python'
print(a)

{'name': 'python'}
{'name': 'python', ('a',): 'python'}

TypeError: unhashable type: 'list'

### Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해보자.

In [11]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')  # pop 함수를 통해 일정 값을 추출할 수 있다. 

print(a)
print(result)

{'A': 90, 'C': 70}
80

### Q11. a 리스트에서 중복 숫자를 제거한다.

In [14]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)      # a리스트를 집합 자료형으로 변환 
b = list(aSet)     # 집합 자료형을 리스트 자료형으로 다시 변환 

print(b)

[1, 2, 3, 4, 5]

### Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. a, b 변수를 선언한 후 a의 두번째 요솟값을 변경하면 b값은 어떻게 될까? 이유를 설명하라.

In [15]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

#### b 값도 함께 변한다. 그 이유는 각 변수에 동일한 주소값의 데이터가 입력되어있기 때문이다. 이러한 문제를 없애기 위해서는 [:]를 사용해 리스트 전체를 다른 주소값으로 복사하여야 한다.

---